<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarKeeper</title>
</head>
<body>
    <h1>Welcome to CarKeeper!</h1>
    <p>This is a simple application to help you keep track of your car's maintenance and expenses. You can add your car's information, schedule maintenance tasks, and track your expenses all in one place. Let's get started by adding your car's details!</p>
    <p>Please enter the desired Car ID</p>
    <input type="text"></input>
    <button>Enter</button>
</body>
</html>